/*Inizializzazione*/
:root{
    --blue-color: #0061FF;
    --bg-header: #B4D0E7;
}
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

body{
    padding-top: 5rem;
}

.container-big{
    max-width: 1240px;
    margin-inline: auto;
    padding-inline: 20px;
}
.container-small{
    max-width: 1040px;
    margin-inline: auto;
    padding-inline: 20px;

}
/*Header NAV*/
.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: white;
    padding-inline: 1rem;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    
}
.nav-bar img{
    display: block;
    margin-right: 1rem;
}
.nav-bar a{
    display: flex;
    text-decoration: none;
    color: black;
    padding-right: 1rem;
}

.btn-blue{
     background-color: var(--blue-color);
     color: white;
     align-items: center;
}

/*Header JUMBO*/
header{
    background-color: var(--bg-header);
}
 header h1{
    font-size: 5rem;
 }

.jumbo{
    display: flex;
}

.jumbo-text{
    flex: 0 0 30%;

}
.jumbo img{
    min-width: 0;
    flex: 0 0 70%;
    margin-bottom: -75px;
}